.cursor-container {
  position: absolute;
  pointer-events: none;
  z-index: 10000;
  transform: translate(0,10%); 
}

.custom-cursor {
  width: 33px;
  height: 33px;
  color: rgb(153, 0, 255);
  transform: translate(0,20%);
}


.trailing-container {
  position: absolute;
  pointer-events: none;
  animation: trailing-animation 0.4s linear;
}

.trailing {
  position: absolute;
  width: 8px;
  height: 8px;
  background: linear-gradient(45deg, #d294eb, #8900d3);
  border-radius: 50%;
  transform: scale(0);
  animation: trailing-effect 0.4s linear;
  transition: transform 1.2s, opacity 1s;
  pointer-events: none;
  z-index: 9999;
}

@keyframes trailing-effect {
  from {
      transform: scale(1);
      opacity: 1;
  }
  to {
      transform: scale(3);
      opacity: 0;
  }
}
@keyframes trailing-animation {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

