/* Block: container */
.container__one,
.container__two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5%;
    margin: 40px;
    font-size: 1.6vmax;
    margin-top: 8rem;
}

/* Element: box */
.container__box--one p {
    margin-top: 42px;
    text-align: justify;
}

.container__box--two p {
    margin-top: 40px;
    text-align: justify;
}

.container__box--one,
.container__box--two {
    width: 60%;
    max-width: 600px;
    height: fit-content;
    animation: fade-in;
}

/* Modifier: bx-2 */
.container__box--two {
    width: 50%;
    max-height: 500px;
}

.container__box--two img {
    margin: 40px 20px;
    width: 90%;
    height: 60vh;
    max-height: 500px;
    animation: fade-in;
}

@media screen and (max-width: 900px) {
    .container__one,
    .container__two {
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) {
    .container__two {
        flex-direction: column;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container__one {
        flex-direction: column-reverse;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container__box--one,
    .container__box--two {
        width: auto;
    }
}

@media screen and (max-width: 375px) {
    .container__one,
    .container__two {
        font-size: 16px;
    }
}

/* Block: button */
.button--repo {
    font-weight: 500;
    margin: 0.8vmax 0 0.8vmax 0;
    padding: 8px 8px;
    padding: 8px 22px;
    color: #000000;
    border-radius: 12px;
    background-color: #8b5cf6;
    border: 2px solid #8b5cf6;
    transition: 1s;
}

.button--repo:hover {
    background: transparent;
    box-shadow: 4px 4px 2px #8b5cf6;
    box-shadow: 0 0 20px rgb(226, 33, 226);
}

.button--repo a {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 375px) {
    .button--repo {
        font-size: 16px;
    }
}

/* Block: content */
.content {
    border: 1px solid #8b5cf6;
    margin: 20px;
    padding: 12px 12px;
    border-radius: 12px;
    max-width: 20vw;
    transition: 0.5s;
    animation: fade-in;
}

.content__header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content__profile-img {
    width: 60%;
    height: auto;
    border-radius: 50%;
    margin-top: 0.75rem;
}

.content__username {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    margin-top: 4rem;
}

.contributors__container {
    gap: 5%;
    margin: 40px;
    font-size: 2rem;
    margin-top: 6rem;
}

.content:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 6px #8b5cf6;
}

@media screen and (max-width: 1300px) {
    .grid__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .content {
        max-width: 25vw;
    }
}

@media screen and (max-width: 900px) {
    .grid__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .content {
        max-width: 33vw;
    }
}

@media screen and (max-width: 650px) {
    .contributors__container {
        margin: 20px;
    }
}

@media screen and (max-width: 425px) {
    .contributors__container {
        margin: 1%;
    }

    .grid__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .content {
        max-width: 100vw;
    }
}

/* Block: founder */
.founder__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.founder__buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.button--profile {
    color: #ffffff;
    font-size: 1.1rem;
    border: 2px solid #8b5cf6;
    margin-inline: 10px;
    background: #8b5cf6;
    padding: 6px 13px;
    border-radius: 6px;
    transition: 0.5s;
}

.button--profile a {
    text-decoration: none;
    color: inherit;
}

.button--profile:hover {
    background: transparent;
    cursor: pointer;
    box-shadow: 2px 2px 1px #8b5cf6;
}

/* Animation */
@keyframes fade-in {
    from {
        opacity: 0.5;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Block: searchbar */
.searchbar--contributors {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 20px 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: white;
    background-color: rgba(149, 147, 147, 0.1);
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.searchbar--contributors::placeholder {
    color: white;
}

.searchbar--contributors:focus {
    border-color: #642beb;
    box-shadow: 0 2px 5px rgb(237, 23, 237);
    outline: none;
}
