.back-to-top-button {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 10;
    display: none;
    background-color: #00c68a;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding: 8px;
    box-shadow: 0 4px 6px rgba(14, 14, 14, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
}

@media only screen and (max-width: 425px) {
    .back-to-top-button {
        right: 10px;
    }
}

.back-to-top-button.visible {
    display: block;
    opacity: 1;
}
.back-to-top-button:not(.visible) {
    opacity: 0;
    transform: translateY(20px);
}

.back-to-top-button:hover {
    background-color: rgba(17, 99, 76, 0.856);
    transform: scale(1.1);
}

.back-to-top-button:hover .tooltiptext {
    top: -2.5em;
    left: -1em;
    visibility: visible;
    opacity: 1;
}

.tooltiptext {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(207, 238, 238);
    color: rgb(197, 129, 129);
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.3s ease;
}

.scroll-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-ring {
    transform: rotate(-90deg);
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
