.back-to-top-button {
    position: fixed;
    bottom: 80px;
    right: 20px;
    /* z-index: 35; */
    background-color: #00c68a;
    color: white;
    border: 2px solid #93FFD8;
    border-radius: 50px;
    padding: 8px;
    box-shadow: 0 4px 6px rgba(14, 14, 14, 0.1);
    cursor: none;
    transition: background-color 0.3s, transform 0.3s;
}

.back-to-top-button.visible {
    display: block;
}


.back-to-top-button:hover{
    background-color: rgba(17, 99, 76, 0.856);
    transform: scale(1.1);
    cursor: none;
}
.back-to-top-button:hover .tooltiptext{

    top: -2.5em;
    left: -1em;
    visibility: visible;
    opacity: 1;
}
.tooltiptext{
    position: absolute;
    top: 0;
    left: 2em;
    transform: transLateX(-50%);
    background-color:rgb(207, 238, 238);
    color: rgb(197, 129, 129);
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 7px;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

