.bookmark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookmark__container {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.bookmark__logo {
  width: 50px;
  height: 50px;
}

.bookmark__box {
  border: 2px solid rgba(79, 71, 125, 255);
  margin: 20px;
  padding: 7px 12px;
  border-radius: 12px;
}

.bookmark__box:hover {
transform: scale(1.1);
box-shadow: 0px 0px 25px #8b5cf6;
transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
}

.bookmark__box-text {
  color: #ffff;
  height: 100px;
}

.bookmark__button {
  color: rgb(226, 43, 122);
  font-size: 1.1rem;
  border: 2px dashed forestgreen;
  margin-inline: 10px;
  padding: 6px 16px 6px 16px;
  background: transparent;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.5);
}

.bookmark__button:hover {
  color: white;
  cursor: none;
  border: 1px dashed rgba(79, 71, 125, 255);
  background-color: rgb(226, 43, 122);
}

.bookmark__empty {
  font-size: 1.5rem;
  font-weight: bold;
  width: max-content;
  position: relative;
  left: 10vw;
}

@media screen and (max-width: 1300px) {
  .bookmark__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .bookmark__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .bookmark__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
