.container-bk{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}
.logo{
    width: 50px;
    height: 50px;
}

.box-bk p{
  
  color: white;
}

.box-bk{
    border: 2px dashed rgba(79,71,125,255);
    margin: 20px;
    padding: 7px 12px;
    border-radius: 12px;
}
.btn-b{
    color: rgb(226, 43, 122);
    font-size: 1.1rem;
    border: 2px dashed forestgreen;
    margin-inline: 10px;
    padding: 6px 16px 6px 16px;
    background: transparent;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px  rgb(0, 0, 0,0.5);
    }
    .btn-b:hover{
        color: white;
        cursor: pointer;
        border: 1px dashed rgba(79,71,125,255);
        background-color:rgb(226, 43, 122) ;
    }

.bk-empty{
    font-size: 1.5rem;
    font-weight: bold;
    width: max-content;
    position: relative;
    left: 10vw;
}