/* Contact.css */

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:100px;
  width:500px;
}

  .contact-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .contact-description {
    /* margin-top: 10%; */
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .form-label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  
  .form-input,
  .form-textarea {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-textarea {
    resize: vertical;
  }
  
  .submit-button {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: white;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-align: center;
  }
  
  .success-message {
    color: white;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  .social-links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .social-link {
    color: #007bff;
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: color 0.3s ease;
  }
  
  .social-link:hover {
    color: #5e4b4b;
  }
