.Footer {
	padding: 2rem 0;
	margin-top: 5rem;
	background: #8b5cf6;
	color: white;
  }
  
  .ft-1 h5 {
	margin-top: 18px;
  }
  
  .ft-1 button {
	margin-top: 3px;
	width: 215px;
	height: 45px;
	border-radius: 8px;
	border-color: white;
	font-size: 21px;
	font-weight: 500;
  }
  
  .ft-1 button:hover {
	background: #a3094e;
	color: #fff;
	cursor: pointer;
  }
  
  .ft-2 {
	margin-top: 3.4375rem;
  }
  
  footer {
	position: sticky;
	top: 100vh;
  }
  
  .card {
	background-color: #8b5cf6 !important;
	font-family: "Kalam", cursive;
	font-weight: 900;
	font-style: normal;
	background-color: #8b5cf6;
	transition: background-color 0.3s ease;
  }
  
  .card-header {
	border: none;
	font-size: 1.4rem;
	color: #e3dede;
	opacity: 0.85;
  }
  
  .card-header img {
	background: transparent;
  }
  
  .card-link {
	padding-left: 4px;
	text-decoration: none;
  }
  
  .ft-2 ul {
	list-style: none;
	padding-left: 0;
  }
  
  .ft-2 ul li {
	padding: 0.5rem 0;
  }
  
  .ft-2 ul a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
	display: flex;
	align-items: center;
  }
  
  .ft-2 ul a .mr-2 {
	margin-right: 0.5rem;
  }
  
  .ft-4 {
	margin-top: 3.5rem;
	text-decoration: none;
  }
  
  .ft-4 ul {
	list-style: none;
	padding-left: 0;
  }
  
  .ft-4 ul li {
	padding: 0.5rem 0;
  }
  
  .ft-4 ul a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
  }
  
  .fa-brands.fa-square-x-twitter {
	transform: translateY(4px);
  }
  
  .Last-footer {
	background: #8b5cf6;
	border: 1px solid white;
	text-align: center;
	padding: 1rem 0;
	color: #fff;
  }
  
  .Last-footer p {
	font-size: 0.5rem;
	margin-right: 22rem;
  }
  
  .footer-icons {
	margin-left: 20.14rem;
  }
  
  .Last-footer i {
	padding: 0.4rem 0.5rem;
	background: black;
	color: white;
	margin: 0 0.5rem;
	border-radius: 50%;
  }
  
  .Last-footer i:hover {
	background: #a3094e;
	color: #fff;
	cursor: pointer;
  }
  
  .card-link:hover {
	color: whitesmoke;
	text-decoration: underline;
  }
  
  .copyright {
	background-color: rgba(0, 0, 0, 0.742);
	color: white;
  }
  
  .contact-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	font-size: 1.8rem;
  }
  
  @keyframes pulse {
	0% {
	  transform: scale(1);
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
  
	50% {
	  transform: scale(1.05);
	  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	100% {
	  transform: scale(1);
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
  }
  .icons {
	display: flex;
	align-items: center;
  }
  
  .contact-link a {
	color: #000;
	transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .contact-link a:hover {
	cursor: pointer;
	color: #474eff !important;
	color: white;
	transform: scale(1.1);
	animation: pulse 1s infinite alternate;
  }
  .footer-content {
	margin-top: 1rem;
  }
  .contact-link a:hover {
	border: 2px solid #fff;
  }
  
  .card-title {
	font-size: 25px;
	font-weight: 700;
	text-decoration: underline;
  }
 
  .outerD {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
  }

 