footer {
  position: sticky;
  top: 100vh;
}

.card {
  background-color: #8b5cf6 !important;
}
.card-header {
  border: none;
}
.card-header img {
  background: transparent;
}

.card-link {
  text-decoration: none;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.742);
}

.card-link:hover {
  color: whitesmoke;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.742);
  color: white;
}
.contact-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-size: 1.4rem;
}
.cntc-link a {
  color: black;
}
.cntc-link a:hover {
  cursor: pointer;
  color: #474eff !important;
}
