/* Footer */
footer {
  position: sticky;
  top: 100vh;
}

/* Card */
.card {
  background-color: #6c63ff;
  transition: background-color 0.3s ease;
}

.card-header {
  border: none;
  font-size: 1.2rem;
  color: #e3dede;
}

.card-header img {
  background: transparent;
}

.card-link {
  text-decoration: none;
  font-weight: 700;
  color: #333;
}

.card-link:hover {
  color: #fff;
}

/* Copyright */
.copyright {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #3b2b2b;
  color: #fff;
  font-size: 20px;
}

/* Contact Links */
.contact-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-size: 1.8rem;
}

.contact-link a {
  color: #000;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-link a:hover {
  cursor: pointer;
  color: #fff;
  transform: scale(1.1);
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.contact-link a:hover {
  border: 2px solid #fff;
}
