.Footer {
  padding: 2rem 0;
  margin-top: 15rem;
  background: #8b5cf6;
  color: white;
}

.ft-1 h3 {
  margin-top: 28px;
  text-align: center;
  color: blue;
  font-weight:600;
}

.ft-1 button {
  color: #000;
  width: 200px;
  height: 50px;
  font-size: 1.1rem;
  border: 1px solid #8b5cf6;
  /* margin-inline: 10px; */
  padding: 6px 10px 6px 10px;
  background: transparent;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.5);
  background-color: #000;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.ft-1 button:hover {
  background: transparent;
  cursor: pointer;
  background-color: #8b5cf6;
  border: 2px solid #000;
  color: #000;
  box-shadow: 2px 2px 1px #000;
}

.ft-1 button a{
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.ft-1 button:hover a{
  color: #000;
  font-weight: 700;
}

.ft-2 {
  margin-top: 3.4375rem;
}

/* Footer */
footer {
  position: sticky;
  top: 100vh;
}

/* Footer content */
.footer-content {
  margin-top: 1rem;
  font-size: 1.1rem;
  text-align: start;
}

/* Card */
.card {
  background-color: #8b5cf6 !important;
  font-family: "Kalam", cursive;
  font-weight: 900;
  font-style: normal;
  background-color: #8b5cf6;
  transition: background-color 0.3s ease;
}

.card-header {
  border: none;
  font-size: 1.4rem;
  color: #e3dede;
  opacity: 0.85;
}

.card-header img {
  background: transparent;
}

.card-link {
  padding-left: 4px;

  text-decoration: none;
}

.ft-2 ul {
  list-style: none;
  padding-left: 0;
}

.ft-2 ul li {
  padding: 0.1rem 0;
  text-align: start;
}

.ft-2 ul a {
  text-decoration: none;
  color: white;
	font-size: 1.3rem;
}

.ft-2 h3{
  color: blue;
  font-weight: 600;
  text-align: start;
}

.ft-space{
	margin: 0 2.8rem;
}

.ft-last{
	margin-top: -.2rem;
}

.ft-4 {
  margin-top: 3.5rem;
  text-decoration: none;
}

.ft-4 ul {
  list-style: none;
  padding-left: 0;
}

.ft-4 ul li {
  padding: 0.1rem 0;
}

.ft-4 ul a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.fa-brands.fa-square-x-twitter {
  transform: translateY(4px);
}

.Last-footer {
  background: #8b5cf6;
  border: 1px solid white;
  text-align: center;
  padding: 1rem 0;
  color: #fff;
}

.Last-footer p {
  font-size: 0.5rem;
  margin-right: 22rem;
}

.footer-icons {
  margin-left: 20.14rem;
}

.Last-footer i {
  padding: 0.4rem 0.5rem;
  background: black;
  color: white;
  margin: 0 0.5rem;
  border-radius: 50%;
}

.Last-footer i:hover {
  background: #a3094e;
  color: #fff;
  cursor: none;
}

.card-link:hover {
  color: whitesmoke;
  text-decoration: underline;
}

/* Copyright */
.copyright {
  background-color: rgba(0, 0, 0, 0.742);
  color: white;
}

/* Contact Links */
.contact-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-size: 1.8rem;
}

.contact-link a {
  color: #000;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-link a:hover {
  cursor: none;
  color: #474eff !important;
  color: white;
  transform: scale(1.1);
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.contact-link a:hover {
  border: 2px solid #fff;
}

.card-title {
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline;
}
