/* hero section starts */
.hero {
  width: 100%;
  height: 90vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: start;
  background-image:url('https://t3.ftcdn.net/jpg/04/57/92/32/360_F_457923238_8zmuShXTsS2CdsXisZSIutaBqKzl5haw.jpg');
}

@media (min-width: 768px) {
  .hero {
    background-position: left top;
  }
}

@media (max-width:768px){
  .hero-heading{
    margin-right:5rem;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
}
.hero-text {
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-container {
  position: relative;
  max-width: 80rem; 
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 100%;
}

@media (min-width: 768px) {
  .hero-container {
    margin-left:3rem;

  }
}

@media (min-width: 1024px) {
  .hero-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.hero-content {
  position: absolute;
  top: 50%;
  left:0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 6px;
}
@media(max-width:768px){
  .hero-button{
    width:20rem;
    margin-left:2rem;
  }
  .hero-content{
    width:100%;
    text-align:center;
    max-width:100%;
    padding-left: 0rem;
    padding-right: 1rem;
  }
}
@media (min-width: 1024px) {
  .hero-content {
    left: 2%;
  }
}

.hero-heading {
  font-weight: 500; 
  font-size: 2.5rem; 
  color:   #8b5cf6;
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  padding-left: 0.5rem; 
  padding-right: 1rem; 
  margin-top:5rem;
}

@media (min-width: 768px) {
  .hero-heading {
    font-size: 3rem; 
   
  }
}

@media (min-width: 1024px) {
  .hero-heading {
    font-size: 4rem; 
    font-weight:650;
  }
}
.hero-button{
  background-color:#8b5cf6;
  height:3.5rem;
  font-size: 2rem;
  border-radius:30px;
  font-weight:600;
  margin-top:3px;
  border: none;
}
.hero-button:hover{
  background: #101623;
  border: 2px solid #8b5cf6;
  color: white;
  box-shadow: 4px 4px 2px #8b5cf6;
}
.hero-button a:hover{
  color: white;
}
.hero-end{
  margin-top:5%;
  font-size:1.25rem;
}
.hero-subheading {
  margin-top: 7%;
  font-size: 1.5rem; 
  font-weight: 500; 
}

@media (min-width: 768px) {
  .hero-subheading {
    font-size: 2.25rem; 
   
  }
}


.hero-image {
  display: none; 
}

@media (min-width: 768px) {
  .hero-image {
    display: block; 
    position: absolute;
    top: 40%;
    left: 55%;
    right: 0;
    transform: translateY(-30%);
    width: 45%;
    height: auto;
    background: none;
  }
}
/* hero section ends */
.page-container {
  width: 100vw;
  max-width: 100vw;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  margin-top: 8rem;
  gap: 20px;
  animation: zoomIn 1s ease forwards;
}

.loading-container {
  margin: 10px;
  margin-top: 8rem;
}

@media screen and (max-width: 1300px) {
  .main-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .main-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.content-box-home {
  background-color: #101623;
  border: 2px solid rgba(79, 71, 125, 255);
  margin: 20px;
  padding: 7px 12px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(79, 71, 125, 255);
}

@media screen and (max-width: 950px) {
  .content-box-home {
    margin: 10px;
    padding: 5px 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(79, 71, 125, 255);
  }
}

.content-box-home:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 25px #8b5cf6;
  transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
}


.content-box-home {
  transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
}


.container-box-home {
  transition: 1s ease;
}

.content-box-text {
  color: white;
  padding: 4px;
  min-height: 80px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 1rem;
  height: 100px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-booked-box,.btn-b-box {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  border: 1px solid #8b5cf6;
  margin-inline: 10px;
  padding: 6px 16px 6px 16px;
  background: transparent;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.5);
  background-color: #8b5cf6;
  cursor: pointer;
}
.btn-booked-box{
 background-color: #ff0000e3;
}
.btn-booked-box:hover{
  cursor: pointer;
  background-color: #ff6b6be3;
}
.btn-b-box:hover {
  background: transparent;
  cursor: pointer;
  box-shadow: 2px 2px 1px #8b5cf6;
}

.popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.checkmark {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 14px;
  background-color: #ccc;
  left: 11px;
  top: 2.5px;
}

.checkmark_kick {
  position: absolute;
  width: 6px;
  height: 3px;
  background-color: #ccc;
  left: 6px;
  top: 14px;
}
nav li{
  z-index: 0;
}