/* hero section starts */
.hero {
  margin-top: 1rem;
  max-width: 100vw;
  width: 100%;
  z-index: 0; 
  min-height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: start;
  background-image: url("https://t3.ftcdn.net/jpg/04/57/92/32/360_F_457923238_8zmuShXTsS2CdsXisZSIutaBqKzl5haw.jpg");
}
:root {
  --scrollbar-bg: white; /* Background color of the scrollbar track */
  --scrollbar-thumb: #0d6efd; /* Color of the scrollbar thumb */
}

/* Custom scrollbar for webkit browsers (Chrome, Safari, Edge) */

::-webkit-scrollbar-track {
  background-color: var(
    --scrollbar-bg
  ); /* Background color of the scrollbar track */
  border-radius: 15px;
}

/* Custom scrollbar for Firefox */
::-webkit-scrollbar {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg); /* Custom colors */
  border-radius: 15px;
  width: 6px; /* Width of the scrollbar */
}
/* contributor style */
.contributors-section {
  text-align: center;
  margin: 50px 0;
}

.contributors-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributor img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contributor p {
  margin: 0;
}

.pagination {
  max-width: 100vw;
  overflow: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  padding: 1rem;
  margin-left: 32%;
}

.pagination .page-wrapper{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.pagination ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 5px;
}

.pagination li {
  display: inline;
}

.pagination a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffb347; /* Light orange text color */
  background-color: #333; /* Dark background color */
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
  background-color: #555; /* Slightly lighter dark background on hover */
  color: #fff; /* White text color on hover */
}

.pagination .active a {
  background-color: #ffb347; /* Light orange background color for active page */
  color: #333; /* Dark text color for active page */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb); /* Color of the scrollbar thumb */
  border-radius: 15px;
}

.hero-text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-container {
  min-height: 100vh;
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 6px;
}

.hero-heading {
  font-weight: 600;
  font-size: 4rem;
  color: #8b5cf6;
  padding: 0.5rem;
  margin-top: 5rem;
}

.hero-subheading {
  margin-top: 1%;
  font-size: 3rem;
  font-weight: 500;
}

.content-box-home {
  max-width: 100vw;
  background-color: #101623;
  border: 2px solid rgba(79, 71, 125, 255);
  margin: 20px;
  padding: 7px 12px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(79, 71, 125, 255);
  transform-style: preserve-3d;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

@media (max-width: 769px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-heading {
    /* margin-right:5rem; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
  }
  .hero-button-container {
    justify-content: center;
  }
  .hero-image {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .hero-image img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    background: none;
  }
}

@media (max-width: 430px) {
  .hero-heading {
    font-size: 3rem;
  }
  .hero-subheading {
    font-size: 2rem;
  }
}

.hero-button {
  background-color: #6a43c3;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 30px;
  font-weight: 600;
  margin-top: 3px;
  border: none;
  width: 70%;
}

.hero-button:hover {
  background-color: #09001f63;
  backdrop-filter: blur(10px);
  border: 2px solid #804afe;
  color: white;
  box-shadow: -1px 2px 8px #c5aff899,0px 2px 8px #6943c392;
  cursor: none;
}
.hero-button a:hover {
  color: white;
}
.hero-end {
  margin-top: 5%;
  font-size: 1.25rem;
}

.hero-image img {
  animation: float 6s ease-out infinite;
}
@keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 25px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media (min-width: 768px) {
  .hero-image {
    display: block;
    position: relative;
    width: 50%;
    height: auto;
    z-index: 1;
  }
  .hero-image img {
    background: none;
  }
}
/* hero section ends */
.page-container {
  padding-top: 5%;
  width: 100vw;
  max-width: 100vw;
}
.main-container{
  display: grid;
  max-width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  margin-top: 5rem;
  gap: 20px;
  animation: zoomIn 1s ease forwards;
}

.loading-container {
  margin: 10px;
  margin-top: 8rem;
}

@media screen and (max-width: 1300px) {
  .main-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .main-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .content-box-home {
    margin: 10px;
    padding: 5px 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(79, 71, 125, 255);
  }
}

.content-box-home:hover {
  transform: scale(1.1) ;
  box-shadow: 0px 0px 25px #8b5cf6;
  z-index: 3;
}

.container-box-home {
  transition: 1s ease;
}

.content-box-text {
  color: white;
  padding: 4px;
  min-height: 80px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 1rem;
  height: 100px;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}

.content-box-home:hover .content-box-text {
  transform: translateZ(40px);
  letter-spacing: 1px;
  text-wrap: none !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8), 0 -2px 2px rgba(0, 0, 0, 0.7),
    0 -3px 3px rgba(0, 0, 0, 0.6), 0 -4px 4px rgba(0, 0, 0, 0.5),
    0 -5px 5px rgba(0, 0, 0, 0.4), 0 -6px 6px rgba(0, 0, 0, 0.3),
    0 -7px 7px rgba(0, 0, 0, 0.2), 0 -8px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px !important;
}

.content-box-home:hover h2 {
  transform: translateZ(20px) translateY(-3px) translateZ(40px);
  text-shadow: 0 1px 1px rgba(139, 92, 246, 0.6),
    0 2px 2px rgba(139, 92, 246, 0.5), 0 3px 3px rgba(139, 92, 246, 0.4),
    0 4px 4px rgba(139, 92, 246, 0.3), 0 4px 5px rgba(139, 92, 246, 0.2),
    0 4px 4px rgba(139, 92, 246, 0.1), 0 4px 4px rgba(139, 92, 246, 0.1),
    0 4px 4px rgba(139, 92, 246, 0.1);
}
.content-box-home:hover .logo {
  transform: translateZ(40px) translateY(-3px) translateZ(40px);
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: transform 0.6s ease-in-out;
}

.content-box-home:hover .logo {
  transform: translateZ(20px);
}
.content-box-home:hover .btn-b-box {
  transform: translateZ(40px);
  box-shadow: 0px 0px 25px #8b5cf6;
}
.btn-booked-box,
.btn-b-box {
  color: #000;
  font-size: 1.1rem;
  border: 1px solid #8b5cf6;
  margin-inline: 10px;
  padding: 6px 16px 6px 16px;
  background: transparent;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.5);
  background-color: #8b5cf6;
  cursor: none;
}
.btn-booked-box {
  border: 2px dashed #8b5cf6;
  color: white;
  cursor: none;
  background: transparent;
}

.btn-booked-box:hover {
  color: white;
  cursor: none;
  background-color: #8b5cf6;
  box-shadow: 10px 10px 30px rgba(139, 92, 246, 0.8),
    -10px -10px 30px rgba(139, 92, 246, 0.3);
}

.btn-b-box:hover {
  color: #fff;
  background: transparent;
  cursor: none;
  box-shadow: 2px 2px 1px #8b5cf6;
}

.popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.checkmark {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 14px;
  background-color: #ccc;
  left: 11px;
  top: 2.5px;
}

.checkmark_kick {
  position: absolute;
  width: 6px;
  height: 3px;
  background-color: #ccc;
  left: 6px;
  top: 14px;
}

.filter-button {
  color: #000;
  font-size: 1.1rem;
  border: 1px solid #8b5cf6;
  margin-inline: 10px;
  padding: 6px 16px 6px 16px;
  background: transparent;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.5);
  background-color: #8b5cf6;
  cursor: pointer;
}

.active_filter, .filter-button:hover {
  background-color: #09001f63;
  backdrop-filter: blur(10px);
  border: 2px solid #804afe;
  color: white;
  box-shadow: -1px 2px 8px #c5aff899,0px 2px 8px #6943c392;
}

.search-fields {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-input {
  width: 300px;
  padding: 10px;
  background-color: #09001f47;
  border: 1px solid #6a43c3;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  color: #fff;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-input::placeholder {
  color: #aaa;
}

.hero-content {
  position: relative;
  overflow: hidden;
}

.hero-heading, .hero-subheading {
  opacity: 0;
  transform: translateX(-120%);
  animation: slideInLeft 2s forwards;
}

.hero-heading {
  animation-delay: 0.4s;
}

.hero-subheading {
  animation-delay: 0.8s;
}

.hero-end {
  display: block;
  animation-delay: 1.2s;
}

.hero-button-container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.hero-button {
  background-color: #8b5cf6;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 30px;
  font-weight: 600;
  margin-top: 3px;
  border: none;
  width: 70%;
  opacity: 0;
  transform: translateX(-120%);
  animation: slideInLeft 2s forwards;
  animation-delay: 1.6s;
}

.hero-button:hover {
  background: #101623;
  border: 2px solid #8b5cf6;
  color: white;
  box-shadow: 4px 4px 2px #8b5cf6;
  cursor: none;
}

.hero-button a:hover {
  color: white;
}

@keyframes slideInLeft {
  from {
      opacity: 0;
      transform: translateX(-120%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}