/* hero section starts */
.hero {
  margin-top: 5.3vh;
  width: 100%;
  z-index: 0;
  height: 90vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: start;
  background-image: url("https://t3.ftcdn.net/jpg/04/57/92/32/360_F_457923238_8zmuShXTsS2CdsXisZSIutaBqKzl5haw.jpg");
}
:root {
  --scrollbar-bg: white; /* Background color of the scrollbar track */
  --scrollbar-thumb: #0d6efd; /* Color of the scrollbar thumb */
}

/* Custom scrollbar for webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Custom scrollbar for Firefox */
::-webkit-scrollbar {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg); /* Custom colors */
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(
    --scrollbar-bg
  ); /* Background color of the scrollbar track */
  border-radius: 15px;
}
/* contributor style */
.contributors-section {
  text-align: center;
  margin: 50px 0;
}

.contributors-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributor img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contributor p {
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 5px;
}

.pagination li {
  display: inline;
}

.pagination a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffb347; /* Light orange text color */
  background-color: #333; /* Dark background color */
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
  background-color: #555; /* Slightly lighter dark background on hover */
  color: #fff; /* White text color on hover */
}

.pagination .active a {
  background-color: #ffb347; /* Light orange background color for active page */
  color: #333; /* Dark text color for active page */
}

.button_filter{
  color: #8b5cf6;
  font-size: 1.1rem;
  border: 1px solid #8b5cf6;
  margin-inline: 10px;
  padding: 6px 16px 6px 16px;
  background: transparent;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.5);
  background-color: #ffffff;
  cursor: pointer;
}

.active_filter{
  background: transparent;
  cursor: pointer;
  background-color: #101623;
  color: white;
  box-shadow: 2px 2px 1px #8b5cf6;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb); /* Color of the scrollbar thumb */
  border-radius: 15px;
}

@media (min-width: 768px) {
  .hero {
    background-position: left top;
  }
}

@media (max-width: 768px) {
  .hero-heading {
    /* margin-right:5rem; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.hero-text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-container {
  position: relative;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 10px;
  height: 100%;
}

@media (min-width: 768px) {
  .hero-container {
    margin-left: 3rem;
  }
}

@media (min-width: 1024px) {
  .hero-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 6px;
}
@media (max-width: 768px) {
  .hero-button {
    width: 50%;
    /* margin-left:2rem; */
  }

  .hero-content {
    width: 100%;
    text-align: center;
    max-width: 100%;
    padding-left: 0rem;
    /* padding-right: 1rem; */
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 6rem;
  }
}
@media (min-width: 1024px) {
  .hero-content {
    left: 2%;
  }
}

.hero-heading {
  font-weight: 500;
  font-size: 2.5rem;
  color: #8b5cf6;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .hero-heading {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .hero-heading {
    font-size: 4rem;
    font-weight: 650;
  }
}
.hero-button {
  background-color: #8b5cf6;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 30px;
  font-weight: 600;
  margin-top: 3px;
  border: none;
  width: 70%;
}

.hero-button-container {
  width: 100%;
}

.hero-button:hover {
  background: #101623;
  border: 2px solid #8b5cf6;
  color: white;
  box-shadow: 4px 4px 2px #8b5cf6;
}
.hero-button a:hover {
  color: white;
}
.hero-end {
  margin-top: 5%;
  font-size: 1.25rem;
}
.hero-subheading {
  margin-top: 7%;
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .hero-subheading {
    font-size: 2.25rem;
  }
}

.hero-image img {
  animation: float 6s ease-out infinite;

}
@keyframes float {
  0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px); }    
}



@media (max-width: 768px) {
  .hero-image {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .hero {
    height: 101vh;
  }
  .hero-image img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    background: none;
  }
}

@media (min-width: 768px) {
  .hero-image {
    display: block;
    position: absolute;
    top: 40%;
    left: 55%;
    right: 0;
    transform: translateY(-30%);
    width: 45%;
    height: auto;
    z-index: 1;
  }
  .hero-image img {
    background: none;
  }
}
/* hero section ends */
.page-container {
  padding-top: 5%;
  width: 100vw;
  max-width: 100vw;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  margin-top: 5rem;
  gap: 20px;
  animation: zoomIn 1s ease forwards;
}

.loading-container {
  margin: 10px;
  margin-top: 8rem;
}

@media screen and (max-width: 1300px) {
  .main-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .main-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.content-box-home {
  background-color: #101623;
  border: 2px solid rgba(79, 71, 125, 255);
  margin: 20px;
  padding: 7px 12px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(79, 71, 125, 255);
}

@media screen and (max-width: 950px) {
  .content-box-home {
    margin: 10px;
    padding: 5px 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(79, 71, 125, 255);
  }
}

.content-box-home:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 25px #8b5cf6;
  transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
}

.content-box-home {
  transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
}

.container-box-home {
  transition: 1s ease;
}

.content-box-text {
  color: white;
  padding: 4px;
  min-height: 80px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 1rem;
  height: 100px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-booked-box,
.btn-b-box {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  border: 1px solid #8b5cf6;
  margin-inline: 10px;
  padding: 6px 16px 6px 16px;
  background: transparent;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.5);
  background-color: #8b5cf6;
  cursor: pointer;
}
.btn-booked-box {
  border: 2px dashed #8b5cf6;
  color: white;
  cursor: pointer;
  background: transparent;
}

.btn-booked-box:hover {
  color: white;
  cursor: pointer;
  background-color: #8b5cf6;
}

.btn-b-box:hover {
  background: transparent;
  cursor: pointer;
  box-shadow: 2px 2px 1px #8b5cf6;
}

.popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.checkmark {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 14px;
  background-color: #ccc;
  left: 11px;
  top: 2.5px;
}

.checkmark_kick {
  position: absolute;
  width: 6px;
  height: 3px;
  background-color: #ccc;
  left: 6px;
  top: 14px;
}
