.page-container {
  width: 100vw;
  max-width: 100vw;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  margin-top: 8rem;
  gap: 20px;
}

.loading-container {
  margin: 10px;
  margin-top: 8rem;
}

@media screen and (max-width: 1300px) {
  .main-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .main-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.content-box-home {
  background-color: #101623;
  border: 2px solid rgba(79, 71, 125, 255);
  margin: 20px;
  padding: 7px 12px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(79, 71, 125, 255);
}

@media screen and (max-width: 950px) {
  .content-box-home {
    margin: 10px;
    padding: 5px 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(79, 71, 125, 255);
  }
}

.content-box-home:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 25px #8b5cf6;
  transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
}


.content-box-home {
  transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
}


.container-box-home {
  transition: 1s ease;
}

.content-box-text {
  color: white;
  padding: 4px;
  min-height: 80px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 1rem;
  height: 100px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-booked-box,.btn-b-box {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  border: 1px solid rgb(10, 142, 102);
  margin-inline: 10px;
  padding: 6px 16px 6px 16px;
  background: transparent;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.5);
  background-color: #8b5cf6;
  cursor: pointer;
}
.btn-booked-box{
 background-color: #ff0000e3;
}
.btn-booked-box:hover{
  cursor: pointer;
  background-color: #ff6b6be3;
}
.btn-b-box:hover {
  color: white;
  cursor: pointer;
  border: 1px solid #101623;
  box-shadow: 0px 0px 10px rgba(173, 128, 255, 0.5);
}

.popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.checkmark {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 14px;
  background-color: #ccc;
  left: 11px;
  top: 2.5px;
}

.checkmark_kick {
  position: absolute;
  width: 6px;
  height: 3px;
  background-color: #ccc;
  left: 6px;
  top: 14px;
}

.custom-toast-container {
  top: 75px !important; 
}