.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(239, 234, 234, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(168, 158, 158, 0.25);
  color: rgb(19, 8, 26); /* Ensure text is purple */
  position: relative;
}

.close-buttoned {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 50px;
  height: 50px;
  background-color: black; /* Change to black */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: none;
  color: white;
  border: none; /* Remove the border */
  outline: none; /* Remove the default outline */
}
