/* https://codepen.io/himalayasingh/pen/dqjLgO */
.navbar {
  background-color: #8b5cf6;
  padding: 8px 10px;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  /* border-bottom: 3px solid rgb(28, 174, 184); */
  z-index: 1;
  isolation: isolate;
  mix-blend-mode: normal;
  padding-left: 30px;
}

.navbar-content {
    display: flex;
    align-items: center;
}
.card-body img{
	background: transparent;
  
}

.navbar-brand {
	background: transparent;
}

.navbar-content li {
    list-style: none;
    margin: 0 10px;
    font-size: 1.3rem;
    animation: slideTop 1s ease forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    animation: slideLeft 1s ease forwards;
}

.navbar-left #nav-icon1{
    width: 40px;
    height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.navbar-left #nav-icon1 span{
    display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
    top: 10px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 20px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 30px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: 60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

.navbar-right {
    display: flex;
    align-items: center;
    animation: slideRight 1s ease forwards;
    /* margin-right: 115px; */
}

.logo-img {
    width: 200px;
}
.navbar-content ul li a.active {
    color: white;
    background-color: green;
}
.nav-item {
  position: relative;
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}

.nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.2s ease-in-out;
}

.nav-item:hover::before {
  width: 100%;
}


.sidebar {
    width: 0;
    height: 92%;
    background-color: #8b5cf6;
    position: fixed;
    top: 4.4rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    overflow-y: scroll;
    transition: width 0.3s;
    z-index: 4;
}
.sidebar.active{
    width:20rem;
}

.sidebar-content {
    border-bottom: 1px solid rgb(2, 27, 43);

    font-weight: 500;
    transform: translateY(40px);
  opacity: 0; 
  transition: transform 0.5s, opacity 0.5s;
  transition-delay: 0.2s; 
}
.sidebar-content.active {
    transform: translateY(0);
    opacity: 1; 
  }
.sdbar-logo {
    font-size: 3rem;
    margin-top: -15px;
}
.sidebar {
    display: flex;
}
.Link {
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.nav-item {
    font-size: 1rem;
}
.Link:hover {
  color: rgb(72, 5, 5);
  text-decoration: none;
} 
.sidebar-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
}
.sidebar-btn {
    padding: 2px 5px;
    font-size: 20px;
    text-align: center;
    line-height: 1;
}

.sidebar-btn:hover {
    color: rgba(0, 0, 0, 0.84);
}
.sidebar {
    color: rgba(0, 0, 0, 0.84);
}

@media (max-width: 880px) {
    .navbar-center {
        display: none;
    }
}
@media (max-width: 580px) {
    .navbar-right {
        /* display: none; */
        width: 100%;
        justify-content: center;
        
      }
    .logo-img {
        width: 150px;
        margin-left: -20px;
    }
    .sdbar-logo {
        font-size: 2.8rem;
        margin-top: -15px;
    }
}

.sidebar {
    display: flex;
    transition: all 0.5s ease;
}
.Link {
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.nav-item {
    font-size: 1.6rem;
}
/* .Link:hover {
  color: rgb(38, 3, 3);
  text-decoration: underline;
} */
.sidebar-btns {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    align-items: center;
}
.sidebar-btn {
    padding: 2px 5px;
    margin: 9px;
    text-align: center;
    line-height: 1;
}

.sidebar-btn:hover {
    color: rgba(0, 0, 0, 0.84);
}
.sidebar {
    color: rgba(0, 0, 0, 0.84);
}
.filter:hover {
  font-size: 1.8rem;
  text-decoration: underline;
  /* transition: all 0.3s; */
}
.filter {
  transition: font-size 0.3s ease, text-decoration 0.3s ease; 
}
.search {
    /* border-top: 1px solid #ccc; */
    /* margin-top: 130px; */
    position: relative;
}

.box {
    margin-top: 5px;
    /* margin-left: 65px; */
    outline: none !important;
    border-radius: 20px;
    width: 80% !important;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.input {
    border: none !important;
    border-radius: 20px !important;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
}

.span {
    /* background: transparent !important; */
    border: none !important;
    border-radius: 2px 100px 100px 2px; 
    margin:1.5px ;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    font-weight: b;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    /* border-radius: 0.25rem; */
    font-weight: bold !important;
    cursor: pointer;
}
