.navbar {
  background-color: #8b5cf6;
<<<<<<< HEAD
  /* padding: 5px 10px; Decreased padding to reduce height */
  position: fixed;
  width: 100%;
  /* top: 0px;
  left: 0px; */
  /* height: 100px; */
=======
  padding: 5px 10px; /* Decreased padding to reduce height */
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 80px;
>>>>>>> f9d1ac6a6a78d5f186900939df497aa90b092227
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  z-index: 4;
  /* isolation: isolate;
  mix-blend-mode: normal; */
  padding-left: 30px;
}

<<<<<<< HEAD
/* .search{
 
 
  width: auto;
} */

.brand-link{
  width: 170px;
}
.navbar-content {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between; /* Add space between items */
  /* width: 100%; Make the navbar items stretch along the width */
=======
.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  top: -10px; /* Adjust the value as needed */
>>>>>>> f9d1ac6a6a78d5f186900939df497aa90b092227
}
.navbar-content li {
  flex-grow: 1; /* Make the navbar items stretch to fill the width */
  margin: 0 15px; /* Add margin to create space between nav items */
  font-size: 1.3rem;
  text-decoration: none; /* Ensures no underline */
}


.navbar-content .nav-item {
  flex-grow: 1; /* Allow items to stretch */
  text-align: center;
  text-decoration: none; /* Ensures no underline */
  margin: 0 15px; /* Add space between items */
}


.logo-img {
  width: 150px;
<<<<<<< HEAD
  /* margin-right: auto; /* Move the logo to the left */
} */
=======
  margin-right: auto; /* Move the logo to the left */
}
.navbar-content li {
  list-style: none;
  margin: 0 10px;
  font-size: 1.3rem;
  text-decoration: none; /* Ensures no underline */
  animation: slideTop 1s ease forwards;
}
.navbar-content {
  display: flex;
  text-decoration: none; /* Ensures no underline */
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between; /* Add space between items */
  width: 109%; /* Make the navbar items stretch along the width */
}
>>>>>>> f9d1ac6a6a78d5f186900939df497aa90b092227

.card-body img {
  background: transparent;
}

.navbar-brand {
  background: transparent;
}

.navbar-content {
  display: flex;
  align-items: center;
}
/* Define hover effect for nav-items */
/* Define hover effect for nav-items */
.nav-item {
  position: relative;
  color: #fff;
  transition: transform 0.3s, filter 0.3s, box-shadow 0.3s; /* Add box-shadow to transition */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0); /* Initially no shadow */
}

.nav-item:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
  filter: brightness(1.2); /* Brighten on hover for shine effect */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Add glowing effect */
}



.navbar-left {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 5px;
  animation: slideLeft 1s ease forwards;
}

.navbar-left #nav-icon1 {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.navbar-left #nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 90%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 10px;
}

#nav-icon1 span:nth-child(2) {
  top: 20px;
}

#nav-icon1 span:nth-child(3) {
  top: 30px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: 60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.navbar-right {
  display: flex;
  align-items: center;
  animation: slideRight 1s ease forwards;
  /* margin-right: 115px; */
}

.logo-img {
  width: 150px;
  margin-right: 140px; /* Move the logo to the right */
}

.nav-item a {
  color: #0e0303;
  text-decoration: none;
  font-size: 1.2rem; /* Adjust font size as needed */
  transition: color 0.3s;
}

.navbar-content ul li a.active {
  color: white;
  background-color: green;
}

.nav-item {
  position: relative;
  color: #fff;
}

.nav-item:hover::before {
  width: 100%;
}

.sidebar {
  width: 0;
  height: 92%;
  background-color: #8b5cf6;
  position: fixed;
  top: 4.4rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  overflow-y: scroll;
  transition: width 0.3s;
  z-index: 4;
}

.nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.2s ease-in-out;
}

.sidebar.active {
  width: 20rem;
}

.sidebar-content {
  border-bottom: 1px solid rgb(2, 27, 43);
  font-weight: 500;
  transform: translateY(40px);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  transition-delay: 0.2s;
}

.sidebar-content.active {
  transform: translateY(0);
  opacity: 1;
}

.sdbar-logo {
  font-size: 3rem;
  margin-top: -15px;
}

.sidebar {
  display: flex;
}

.Link {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.Link:hover {
  color: rgb(72, 5, 5);
  text-decoration: none;
}

.sidebar-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
}

.sidebar-btn {
  padding: 2px 5px;
  font-size: 20px;
  text-align: center;
  line-height: 1;
}

.sidebar-btn:hover {
  color: rgba(0, 0, 0, 0.84);
}

.sidebar {
  color: rgba(0, 0, 0, 0.84);
}

@media (max-width: 880px) {
  .navbar-center {
    display: none;
  }
}

@media (max-width: 580px) {
  .navbar-right {
    justify-content: center;
    margin-right:15%;
    
  }

  .box{
    margin-left: 0;
  }

  .logo-img {
    width: 150px;
    margin-left: -0px;
  }

  .sdbar-logo {
    font-size: 2.8rem;
    margin-top: -15px;
  }
}

.sidebar {
  display: flex;
  transition: all 0.5s ease;
}

.Link {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.input {
  border: none !important;
  border-radius: 20px !important;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  padding-right: 40px; /* Adjust as needed */
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.sidebar-btns {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  align-items: center;
}

.sidebar-btn {
  padding: 2px 5px;
  margin: 9px;
  text-align: center;
  line-height: 1;
}

.sidebar-btn:hover {
  color: rgba(0, 0, 0, 0.84);
}

.sidebar {
  color: rgba(0, 0, 0, 0.84);
}

.filter:hover {
  font-size: 1.8rem;
  text-decoration: underline;
  /* transition: all 0.3s; */
}

.filter {
  transition: font-size 0.3s ease, text-decoration 0.3s ease;
}

.search {
   margin-top: 0px; 
  position: relative;
}

.box {
  margin-top: 15px;
<<<<<<< HEAD
  /* margin-left: 65px; */
=======
  margin-left: 65px; 
>>>>>>> f9d1ac6a6a78d5f186900939df497aa90b092227
  outline: none !important;
  border-radius: 20px;
  /* width: 80% !important; */
  background-color: #fff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.box:hover {
  border: 2.5px solid black;
}

<<<<<<< HEAD
.input {
  border: none !important;
  border-radius: 20px !important;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /* position: relative; */
  padding-right: 40px;
  flex: 1 1 auto;
  width: 1%;
  /* margin-bottom: 0; */
}

=======
>>>>>>> f9d1ac6a6a78d5f186900939df497aa90b092227
.input:focus {
  outline: none;
  border: none !important;
  box-shadow: none !important;
}
/* .navbar-right {
  margin-top: -10%;
} */
.span {
  /* background: transparent !important; */
  border: none !important;
  border-radius: 2px 100px 100px 2px;
  margin: 1.5px;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  font-weight: b;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #ebeff4;
  border: 1px solid #ced4da;
  /* border-radius: 0.25rem; */
  font-weight: bold !important;
  cursor: none;
}

.false {
  background-color: #ffffff;
}

.span:hover {
  background-color: #000;
  color: #fff;
}

.false:hover {
  background-color: #ffffff;
  color: #000;
  background: transparent !important;
  border: none !important;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: b;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-weight: bold !important;
  cursor: none;
}

.navbar-right {
<<<<<<< HEAD
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4px;
 margin-bottom: 10px;
  /* flex-grow: 1; */
=======
  position: absolute;
  top: 0;
  right: 0;
}

.search {
  position: relative;
>>>>>>> f9d1ac6a6a78d5f186900939df497aa90b092227
}

.box {
  position: relative;
  top: 80px;
}

.invisible {
  display: none;
}

/* Ensure no underline under nav items */
.nav-item a, .navbar-content ul li a {
  text-decoration: none !important;
}
