.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .not-found-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 100px;
    gap: 10px;

  }
  
  .not-found-heading {
    font-size: 36px;
    font-weight: bold;
  }
  
  .not-found-text {
    font-size: 18px;
  }
  
  .not-found-image {
    max-width: 100%;
    height: auto;
  }
  
.not-found-button {
    display: inline-block;
    /* position: absolute; */
    top: 70%;
    left: 44%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: none;
  }
  
  .not-found-button:hover {
    background-color: #0056b3;
  }
  
  