nav {
  max-width: fit-content;
  margin: 0 auto;
  padding: 0 10px;
}

.active>.page-link{
  z-index: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}


@media screen and (max-width: 1124px) {
  .pagination {
    overflow-x: scroll;
    padding-bottom: 5px;
    width: 100%;
    white-space: nowrap;
    scroll-padding: 0;
    justify-content: flex-start;
  }
}