.rate-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the component is centered vertically */
}

.rate-us__container {
  width: 70%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #210202;
  border-radius: 5px;
  background-color: black;
  transition: box-shadow 0.3s, transform 0.3s;
}

.rate-us__heading {
  text-align: center;
  margin-bottom: 20px;
  color: #7c1de2;
}

.rate-us__container--hover:hover {
  box-shadow: 0 0 20px #7c1de2;
  transform: scale(1.05);
}

.rate-us__icon-rating {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.rate-us__icon {
  font-size: 2rem; /* Increase emoji size */
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s;
}

.rate-us__icon--selected {
  transform: scale(1.0); /* Make selected emoji bigger */
  filter: brightness(1.5); /* Shine effect */
}

.rate-us__feedback-textarea {
  width: 100%;
  height: 180px;
  padding: 10px;
  border: 1px solid #060404;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
  font-size: 1rem; /* Adjust textarea font size */
}
  
.rate-us__submit-button {
  width: 30%;
  padding: 10px;
  background-color: #7c1de2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rate-us__submit-button--hover:hover {
  background-color: #5f129f;
}
