.rate-us-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rate-us-container {
  width: 70%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #210202;
  border-radius: 5px;
  background-color: black;
  transition: transform 0.3s, box-shadow 0.3s; /* Add box-shadow to transition */
}

.rate-us-container:hover {
  transform: scale(1.05); /* Increase the size on hover */
  box-shadow: 0 0 10px 5px #7c1de2; /* Add a lighting effect */
}

.rate-us-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #7c1de2;
}

.star-rating {
  margin-bottom: 20px;
}

.star {
  font-size: 24px;
  color: #f0fafd;
  cursor: pointer;
}

.filled {
  color: #f7b731;
}

.feedback-textarea {
  width: 100%;
  height: 180px;
  padding: 10px;
  border: 1px solid #060404;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
}

.submit-button {
  width: 30%;
  padding: 10px;
  background-color: #7c1de2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #5f129f;
}
