.rate-us-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-success {
  background-color: #28a745; /* Green background for success */
  color: white;
}

.toast-error {
  background-color: #dc3545; /* Red background for error */
  color: white;
}

.toast-body {
  font-size: 16px;
  text-align: center;
}

.rate-us-container {
  width: 70%;
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  background-color: #8B5CF6;
  transition: box-shadow 0.3s, transform 0.3s;
}

.rate-us-container:hover {
  box-shadow: 0 0 20px #8B5CF6;
  transform: scale(1.05);
}

.rate-us-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.emoji-rating {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.emoji {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s, text-shadow 0.3s;
  margin: 0 10px;
}

.emoji.selected {
  transform: scale(1.5);
  text-shadow: 0 0 20px #f7b731;
  animation: shine 1.5s infinite;
}

@keyframes shine {
  0% {
    text-shadow: 0 0 10px #f7b731, 0 0 20px #f7b731, 0 0 30px #f7b731, 0 0 40px #f7b731, 0 0 50px #f7b731, 0 0 60px #f7b731, 0 0 70px #f7b731;
  }
  100% {
    text-shadow: 0 0 20px #f7b731, 0 0 30px #f7b731, 0 0 40px #f7b731, 0 0 50px #f7b731, 0 0 60px #f7b731, 0 0 70px #f7b731, 0 0 80px #f7b731;
  }
}

.feedback-textarea {
  width: 100%;
  height: 180px;
  padding: 10px;
  background-color: #101623;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
  color: white;
}

.submit-button {
  width: 30%;
  padding: 10px;
  background-color: #101623;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background: #101623;
  border: 2px solid #fff;
  color: white;
}


  
