.review__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.review__form-header {
    margin-top: 8rem;
    padding-top: 10px;
}

.review__form-subtext {
    color: #694ad4;
    padding-left: 40px;
    padding-right: 40px;
}

.review__form-div {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: 2px;
    padding: 4px;
    border-radius: 20px;
}

.review__form-input {
    padding: 10px;
    width: 75%;
    color: black;
    /* I have changed color so that it is visible on website*/
    border: 2px solid #8b5cf6;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    margin: 12px;
    letter-spacing: 1.5px;
}


  /* I have added this feature so that the text area size is fixed*/


.input-review {
    /* I have added this feature so that the text area size is fixed*/

    resize: none;
    height: 100%;
}

.review__form-button {
    font-weight: 500;
    padding: 8px 40px;
    margin: 5px;
    color: black;
    width: max-content;
    border-radius: 20px;
    background-color: #8b5cf6;
    border: none;
    transition-duration: 250ms;
    margin-top: -90px;
}

.review__form-button:hover {
    background: #101623;
    border: 2px solid #8b5cf6;
    color: white;
}

@media screen and (max-width: 375px) {
    .review__form-button {
        font: 16px;
    }
}
