.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-header {
    margin-top: 8rem;
    padding-top: 10px;
}

.form-subtext {
    color: #694ad4;
    padding-left: 40px;
    padding-right: 40px;
}

.form-div {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: 2px;
    padding: 4px;
    border-radius: 20px;
}

.form-input-field {
    padding: 10px;
    width: 75%;
    color: rgb(0, 0, 0);
    /* I have changed color so that it is visible on website*/
    /* background: #9ff65c47; */
    border: 2px solid #8b5cf6;
    border-radius: 15px;
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.5px;
}

/* .form-input-field>select{
    background: #9ff65c47
} */

/* .form-input-field>select>option {
    background: #d6c8c856;
} */

/* .form-input-field:focus{
    outline:2px solid #9ff65ce6 ;
    border: none;
} */


.input-review {
    /* I have added this feature so that the text area size is fixed*/
    resize: none;
    height: 100%;
}

.form-button {
    font-weight: 500;
    padding: 8px 40px;
    margin: 5px;
    color: black;
    width: max-content;
    border-radius: 20px;
    background-color: #8b5cf6;
    border: none;
    transition-duration: 250ms;
    margin-top: -90px;
}

.form-button:hover {
    background: #101623;
    border: 2px solid #8b5cf6;
    color: white;
}

@media screen and (max-width: 375px) {
    .form-button {
        font: 16px;
    }
}