.card{
    background-color: #8b5cf6!important;
}
.card-header{
    border: none;
}
.copyright{
    background-color: rgba(0, 0, 0, 0.742);
    color: white;
}.contact-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 1.4rem;
}
.contact-link a{
    cursor: pointer;
    color: rgba(12, 1, 1, 0.632)!important;
}
/* add hover */

.contact-link div:hover{
    transform: scale(1.2);
}
.cntc-link a:hover{
    color: #0072b1ff!important;
}
.cntc-git a:hover{
    color: #ffffffff!important;
}
.cntc-twit a:hover{
    color: #00aceeff!important;
}
.cntc-mail a:hover{
    color: #da202aff!important;
}
