.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  margin-top: 8rem;
  gap: 20px;
}

@media screen and (max-width: 1300px) {
  .main-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .main-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.content-box {
  background-color:rgb(0,0,0,0.5);
  border: 1px solid rgb(10, 142, 102,0.7);
  margin: 20px;
  padding: 7px 12px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgb(187, 72, 122);
}
@media (min-width: 651px) and (max-width: 769px) {
  .main-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .content-box {
    margin: 10px; 
    padding: 5px 8px; 
    border-radius: 8px; 
    box-shadow: 2px 2px 5px rgba(187, 72, 122); 
  }
}

.content-box:hover{
  transform: scale(1.05); 
  box-shadow: 0px 0px 25px rgb(187, 72, 122); 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.content-box-text{
  padding: 4px;
}
.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn-b-box {
  color: rgb(226, 43, 122);
  font-size: 1.1rem;
  border: 1px solid rgb(10, 142, 102);
  margin-inline: 10px;
  padding: 6px 16px 6px 16px;
  background: transparent;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px  rgb(0, 0, 0,0.5);
}
.btn-b-box:hover {
  color: white;
  cursor: pointer;
  border: 1px solid rgb(10, 142, 102);
  background-color:rgb(10, 142, 102) ;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination::-webkit-scrollbar {
  height: 10px;
  width: 100%;
}

.pagination::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 100%;
}

.pagination::-webkit-scrollbar-thumb {
  background-color: #0a8e66;
  border-radius: 5px;
}

.pagination::-webkit-scrollbar-thumb:hover {
  background-color: #EB89B5;
}

@media screen and (max-width: 1124px) {
  .pagination {
    overflow-x: scroll;
    padding-bottom: 5px;
    width: 100%;
    white-space: nowrap;
    scroll-padding: 0;
    justify-content: flex-start;
  }
}
