/* https://codepen.io/himalayasingh/pen/dqjLgO */
.navbar {
    display: flex;
    background-color: #8b5cf6;
    padding: 8px 10px;
    position: fixed;
    margin-top: -8.5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
    /* border-bottom: 3px solid rgb(28, 174, 184); */
    z-index: 1;
    isolation: isolate;
    mix-blend-mode:normal;
  
}

.navbar-content {
    display: flex;
    align-items: center;
}

.navbar-content li {
    list-style: none;
    margin: 0 10px;
    font-size: 1.3rem;
}
.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navbar-right {
    display: flex;
    align-items: center;
    /* margin-right: 115px; */
}

.logo-img {
    width: 200px;
}
.navbar-content ul li a.active {
    color: white;
    background-color: green;
}

.sidebar {
    width: 20rem;
    height: 91%;
    background-color: #8b5cf6;
    position: fixed;
    top: 4.4rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    overflow-y: scroll;
}

.sidebar-content {
    border-bottom: 1px solid rgb(2, 27, 43);

    font-weight: 500;
}
.sdbar-logo {
    font-size: 3rem;
    margin-top: -15px;
}
.sidebar {
    display: flex;
}
.Link {
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.nav-item {
    font-size: 1rem;
}
.Link:hover {
    color: rgb(38, 3, 3);
    text-decoration: underline;
}
.sidebar-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
}
.sidebar-btn {
    padding: 2px 5px;
    font-size: 20px;
    text-align: center;
    line-height: 1;
}

.sidebar-btn:hover {
    color: rgba(0, 0, 0, 0.84);
}
.sidebar {
    color: rgba(0, 0, 0, 0.84);
}

@media (max-width: 880px) {
    .navbar-center {
        display: none;
    }
}
@media (max-width: 580px) {
    .navbar-right {
        display: none;
    }
    .logo-img {
        width: 150px;
        margin-left: -20px;
    }
    .sdbar-logo {
        font-size: 2.8rem;
        margin-top: -15px;
    }
}

.sidebar {
    display: flex;
}
.Link {
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.nav-item {
    font-size: 1.6rem;
}
.Link:hover {
    color: rgb(38, 3, 3);
    text-decoration: underline;
}
.sidebar-btns {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    align-items: center;
}
.sidebar-btn {
    padding: 2px 5px;
    margin: 9px;
    text-align: center;
    line-height: 1;
}

.sidebar-btn:hover {
    color: rgba(0, 0, 0, 0.84);
}
.sidebar {
    color: rgba(0, 0, 0, 0.84);
}
.filter:hover {
    font-size: 1.8rem;
    text-decoration: underline;
    transition: all 0.3s;
}

.search {
    /* border-top: 1px solid #ccc; */
    /* margin-top: 130px; */
    position: relative;
}

.box {
    margin-top: 5px;
    /* margin-left: 65px; */
    outline: none !important;
    border-radius: 20px;
    width: 80% !important;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.input {
    border: none !important;
    border-radius: 20px !important;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
}

.span {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: b;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-weight: bold !important;
    cursor: pointer;
}
