.navbar{
    /* position: fixed; */
    position:fixed;
    width: 100vw;
    height: 4.9rem;
    background-color: #099268!important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    margin-top: -8.5rem;
    padding-right: 20px;
border-bottom: 3px solid rgb(28, 174, 184);
}
.navbar-content{
    font-size: 1.4rem;
    margin-left: 50px;
    margin-inline: 80px;


}
.logo-img{
width: 220px;
margin-right: 500px;
margin-left: -20px;

}
.navbar-content ul li a.active{
    color: white;
    background-color: green;
}
.btn-search{
    color: black;
    border: 2px solid rgb(228, 215, 222);
    letter-spacing: 1px;
    font-size: 1.3rem;
    border-radius: 17px;
}
.search-box{
    border-radius: 22px;
}
.sidebar{

    width: 18rem;
    height: 100%;
    background-color: #099268;
    position: fixed;
    top: 4.4rem;
   z-index: 1000;
   display: flex;
   flex-direction: column;
   font-size: 1.4rem;
}
.sidebar-content{
    border-bottom: 1px  solid rgb(2, 27, 43);
   
    font-weight: 500;
    margin-block: 8px;
}
.sdbar-logo{
    font-size: 3rem;
    margin-top: -15px;
}
.sidebar{
    display:flex;
}
.Link{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.nav-item{
    
    font-size: 1.6rem;
}
.Link:hover{
 color: rgb(38, 3, 3);
 text-decoration: underline;
}
