.navbar {
  display: flex;
  background-color: #099268 !important;
  padding: 8px 10px;
  position: fixed;
  margin-top: -8.5rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  border-bottom: 3px solid rgb(28, 174, 184);
  z-index: 5;
}
.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-content li {
  list-style: none;
  margin: 0 10px;
  font-size: 1.3rem;
}
.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 115px;
}

.logo-img {
  width: 200px;
}
.navbar-content ul li a.active {
  color: white;
  background-color: green;
}
.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  /* margin: auto;
	padding: 1.5em; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #fff inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #fff;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #2762f3;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

.sidebar {
  width: 18rem;
  height: 100%;
  background-color: #099268;
  position: fixed;
  top: 4.4rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
.sidebar-content {
  border-bottom: 1px solid rgb(2, 27, 43);

  font-weight: 500;
  margin-block: 8px;
}
.sdbar-logo {
  font-size: 3rem;
  margin-top: -15px;
}
.sidebar {
  display: flex;
}
.Link {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.nav-item {
  font-size: 1srem;
}
.Link:hover {
  color: rgb(38, 3, 3);
  text-decoration: underline;
}
.sidebar-btns {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  align-items: center;
}
.sidebar-btn {
  padding: 2px 5px;
  margin: 9px;
  text-align: center;
  line-height: 1;
}

.sidebar-btn:hover {
  color: rgba(0, 0, 0, 0.84);
}
.sidebar {
  color: rgba(0, 0, 0, 0.84);
}

@media (max-width: 880px) {
  .navbar-center {
    display: none;
  }
}
@media (max-width: 580px) {
  .navbar-right {
    display: none;
  }
  .logo-img {
    width: 150px;
    margin-left: -20px;
  }
  .sdbar-logo {
    font-size: 2.8rem;
    margin-top: -15px;
  }
}

.sidebar {
  display: flex;
}
.Link {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.nav-item {
  font-size: 1.6rem;
}
.Link:hover {
  color: rgb(38, 3, 3);
  text-decoration: underline;
}
.sidebar-btns {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  align-items: center;
}
.sidebar-btn {
  padding: 2px 5px;
  margin: 9px;
  text-align: center;
  line-height: 1;
}

.sidebar-btn:hover {
  color: rgba(0, 0, 0, 0.84);
}
.sidebar {
  color: rgba(0, 0, 0, 0.84);
}
.filter:hover {
  transform: scale(1.2);
  text-decoration: underline;
  transition: all 0.3s;
}

@media screen and (prefers-color-scheme: dark) {
  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #fff;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
    background: #f1f1f1;
  }
}