.open-source {
    margin: 10px;
    justify-content: center;
}

.content-box-subtitle {
    color: slateblue;
}

.tag-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: rgb(10, 142, 102);
}

.tag {
    margin: 2px 4px;
    border: 1px solid orange;
    padding: 2px 8px;
    border-radius: 12px;
}