/* .page-link{
    background-color: black !important;
    color: #20c997;
}

.pagination-cont{
    margin-top: 50px;
    margin-bottom: 50px;
}

.page-index{
    margin: 5px;
    color: aqua;
    
} */

nav {
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .pagination::-webkit-scrollbar {
    height: 10px;
    width: 100%;
  }
  
  .pagination::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 100%;
  }
  
  .pagination::-webkit-scrollbar-thumb {
    background-color: #0a8e66;
    border-radius: 5px;
  }
  
  .pagination::-webkit-scrollbar-thumb:hover {
    background-color: #EB89B5;
  }
  
  @media screen and (max-width: 1124px) {
    .pagination {
      overflow-x: scroll;
      padding-bottom: 5px;
      width: 100%;
      white-space: nowrap;
      scroll-padding: 0;
      justify-content: flex-start;
    }
  }