:root,
body,
html {
  overflow-x: hidden;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(to left, #04121e, rgb(39, 2, 13), #021f23);
  color: #8758f6;
  position: relative;
  padding-top: 32px;
}

.darkmode-layer,
.darkmode-toggle {
  z-index: 35;
  position: absolute;
  bottom: 18px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  background: #ffffff;
  padding: 3px;
  margin: 5px;
  border-radius: 40px;
}

.darkmode--activated img {
  filter: invert(1);
}
