:root,
root {
  --color-background-green: #74a309;
  --color-background-dark: #101623;
  --color-text-dark: #f8fafc;
  --color-text-light: #222;
}

body,
html {
  overflow-x: hidden;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove darkmode for images */
/* .darkmode--activated .img {
  mix-blend-mode: difference !important;
} */

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* background: linear-gradient(to left, #04121e, rgb(39, 2, 13), #021f23); */
  background-color: #efe9dc;
  color: #222;
}

.dark {
  /* background-color: #0f172a; */
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  /* background-color: #fff; */
  background-color: #101623;
}

body::-webkit-scrollbar-thumb {
  /* background: #74a309; */
  background: rgb(255, 255, 255);
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

.darkmode-layer,
.darkmode-toggle {
  z-index: 5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
