:root,
body,
html {
	overflow-x: hidden;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background: linear-gradient(to left, #04121e, rgb(39, 2, 13), #021f23);
	color: #8758f6;
}

.darkmode-layer,
.darkmode-toggle {
	z-index: 5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

img {
	background: #fff;
	padding: 3px;
	margin: 5px;
	border-radius: 40px;
}

.darkmode--activated img {
	filter: invert(1);
}
/* Scrollbar Styling */
::-webkit-scrollbar {
	width: 6px; 
	height: 12px; 
  }
  
  ::-webkit-scrollbar-track {
	background: #34495e; /* Track color */
	border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #2980b9; /* Scrollbar thumb color */
	border-radius: 6px;
	border: 3px solid #34495e; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: #3498db; /* Thumb color on hover */
  }
  
  /* Firefox Scrollbar */
  * {
	scrollbar-width: thin;
	scrollbar-color: #2980b9 #34495e; /* Thumb color and track color */
  }
  
  /* Edge Scrollbar */
  *::-ms-scrollbar {
	width: 12px;
	height: 12px;
  }
  
  *::-ms-scrollbar-track {
	background: #34495e;
	border-radius: 6px;
  }
  
  *::-ms-scrollbar-thumb {
	background-color: #2980b9;
	border-radius: 6px;
	border: 3px solid #34495e;
  }
  
  *::-ms-scrollbar-thumb:hover {
	background-color: #3498db;
  }