:root,
body,
html {
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
    background: linear-gradient(to left,#04121e,rgb(39, 2, 13),#021f23);
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background: #099268;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

/* .darkmode--activated p, .darkmode--activated li {
  color: #cc1111;
}

.button {
  isolation: isolate;
}

.darkmode--activated .logo {
  mix-blend-mode: difference;
} */
.darkmode-layer, .darkmode-toggle {
  z-index: 500;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
