input[type=radio]{
    display: none;
}

.Rate .star{
    cursor: pointer;
}
.star FaStar{
    border: 1px solid #fff;
}
.Rate{
    height: 500px;
}

.Rate p{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    /* background-color: ; */
}
